# ignore docker volume
01-docker-terraform/2_docker_sql/ny_taxi_postgres_data

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# ignore keys
*.json

# ignore environment settings and logs
04-analytics-engineering/dbt-env/
04-analytics-engineering/logs/

# ignore large data files
05-batch/code/fhvhv_tripdata_2021-01.parquet
05-batch/code/fhvhv/
05-batch/code/data/

# ignore jar files
*.jar

# ignore workshops
workshops/02-stream-processing-in-sql-with-risingwave